body {
    background-color: rgb(22, 22, 22);
}

h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
}


.search {
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.remove {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    border: none;
}